@import "./_variables"

@mixin transparentButton()
  border: none
  background: transparent

@mixin carrousel($display,$height-images,$height-container,$width-container,$position-images,$button)
  .carrousel__container
    position: relative
    width: $width-container
    height: $height-container
    .previous-button__carrousel,.next-button__carrousel
      visibility: $button
      position: absolute
      z-index: 5
      display: flex
      justify-content: center
      align-items: center
      top: 45%
      background-color: $White
      border: none
      width: 3.5rem
      height: 3.5rem
      border-radius: 50%
      img
        width: 1rem
        height: 1rem
    .previous-button__carrousel
      left: 5%
    .next-button__carrousel
      right: 5%
    .carrousel__images
      position: relative
      width: 100%
      height: $height-images
      display: $display
      grid-template-columns: repeat(4,1fr)
      grid-template-areas: "principal principal principal principal" "principal principal principal principal" "principal principal principal principal" "principal principal principal principal""principal principal principal principal""img1 img2 img3 img4"
      gap: 1rem
      .principal__image
        grid-area: principal
      .hidden__image
        visibility: hidden
      img
        position: $position-images
        width: 100%
        height: 100%
        border-radius: 10px

*
  box-sizing: border-box
  font-size: $size
  font-family: $family, sans-serif
  font-weight: $strong-weight

button
  cursor: pointer

html
  font-size: 62.5%

#app
  width: 100%
  height: 100vh
  position: relative

.hidden
  visibility: hidden
  transform: translateX(-500px)
  transition: all .5s

header
  position: relative
  width: 100%
  height: 10%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 2rem
  .menu__container,.cart__container
    display: flex
    align-items: center
    gap: 2rem
    h1
      font-size: 3rem
      margin: 0
    button
      @include transparentButton()
      height: 3rem
      width: 3rem
      img
        width: 2.5rem
        height: 2.5rem
    .hidden__number
      visibility: hidden
    .cart__button
      position: relative
      span
        position: absolute
        background-color: $primary-color
        color: $White
        font-size: 1.2rem
        padding: 0rem .5rem
        border-radius: 5px
        top: -5px
        right: -5px
    .menu__button
      width: 20px
      height: 2rem
      img
        width: 2rem
        height: 2rem
  .hidden__cart
    transition: all 1s
    visibility: hidden
    transform: translateY(-500px)
  .cart__info
    transition: all 1s
    position: absolute
    border-radius: 20px
    background-color: $White
    top: 120%
    width: 90%
    height: fit-content
    min-height: 30vh
    z-index: 9
    div
      padding: 1rem 2rem
    .cart__items
      border-top: solid 1px $Grayishblue
      display: flex
      flex-direction: column
      gap: 2rem
      justify-content: center
      align-items: center
      height: 60%
      p
        color: $Grayishblue
      .item__card
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0
        gap: 1rem
        p
          margin: 0
          font-size: 1.4rem
        img
          width: 25%
          border-radius: 10px
        .product__info
          padding: 0
          display: flex
          flex-direction: column
          gap: 1rem
          .price__info
            padding: 0
            display: flex
            gap: 2rem
            p:last-child
              color: $Verydarkblue
        button
          @include transparentButton()
          padding: 0
          width: 2.5rem
          height: 2.5rem

          img
            width: 100%
            border-radius: 0

aside
  transition: all .5s
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 80%
  z-index: 10
  background-color: $White
  padding: 2rem 3rem
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 5rem
  box-shadow: 10rem 0px 1000rem 10rem transparentize($Black-lightbox, 0.5)
  button
    @include transparentButton()
    width: 3rem
    height: 3rem
    img
      width: 2.5rem
      height: 2.5rem
  ul
    display: flex
    flex-direction: column
    gap: 2rem
    padding: 0
    li
      cursor: pointer
      list-style: none

article
  display: flex
  flex-direction: column
  width: 100%
  padding-bottom: 5rem
  @include carrousel($display:block,$height-images:40vh,$height-container:40vh,$width-container:100%,$position-images:absolute,$button:visible)
  .info__container
    display: flex
    flex-direction: column
    padding: 2rem
    gap: 2rem
    h2,p
      margin: 0
    .company__info
      color: $primary-color
      font-size: 1rem
      letter-spacing: .3rem
    .name__info
      font-size: 3rem
    .description__info
      line-height: 2.5rem
      font-weight: $light-weight
      color: $Darkgrayishblue
    .prices__container
      display: flex
      align-items: center
      justify-content: space-between
      .discount__container
        display: flex
        align-items: center
        gap: 2rem
        .discount__price
          font-size: 2.5rem
          color: $Verydarkblue
        .discount__price::before
          content: "$"
        .discount__percentage
          background-color: $secondary-color
          padding: .5rem
          color: $primary-color
          border-radius: 1rem
      .normal__price
        color: $Grayishblue
        text-decoration-line: line-through
      .normal__price::before
        content: "$"
    .quantity__container
      display: flex
      justify-content: space-between
      padding: 2rem 1rem
      background-color: $Lightgrayishblue
      border-radius: 2rem
      button
        display: flex
        justify-content: center
        align-items: center
        width: 25px
        height: 25px
        @include transparentButton()
      button:disabled
        cursor: not-allowed
    .addCart__button
      transition: all .5s
      background-color: $primary-color
      display: flex
      justify-content: center
      align-items: center
      padding: 20px
      border-radius: 20px
      border: none
      gap: 1rem
      color: $White
      box-shadow: 0rem 1rem 1rem 0rem transparentize($primary-color,0.75 )
      img
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(160deg) brightness(104%) contrast(101%)
    .addCart__button:disabled
      transition: all .5s
      background-color: $Grayishblue
      cursor: not-allowed
      box-shadow: 0rem 1rem 1rem 0rem transparentize($Grayishblue,0.75 )

@include tablet()
  header
    .menu__button
      display: none
    .cart__info
      right: 10%
      width: 60%
  aside
    position: relative
    height: 100%
    width: 60%
    background-color: transparent
    padding: 0
    flex-direction: row
    align-items: center
    justify-content: center
    box-shadow: none
    button
      display: none
    ul
      flex-direction: row
      gap: 3rem
      li
        transition: all .5s
        color: $Grayishblue
      li:hover
        transition: all .5s
        color: $Verydarkblue
        border-bottom: 1px solid $primary-color
  article
    align-items: center
    .carrousel__container
      width: 70%
    .info__container
      width: 70%

@include desktop()
  .selected
    border: 3px solid $primary-color
    opacity: .3
  header
    justify-content: space-evenly
    .cart__info
      width: 30%
  article
    position: relative
    flex-direction: row
    align-items: center
    justify-content: center
    gap: 6rem
    height: 90vh
    @include carrousel($display: grid,$height-images: 100%,$height-container: 70vh,$width-container: 40%,$position-images:inherit,$button:hidden)
    .info__container
      width: 40%
      height: 70%
      gap: 3rem
      .company__info
        font-size: 2rem
      .name__info
        font-size: 3.5rem
      .description__info
        font-size: 20px
        line-height: 3rem
      .buy__container
        display: flex
        div,button
          width: 50%
